<!DOCTYPE html>
<head>

</head>
<body>
    <script src="../javascript/hello.js" defer></script>
    <p id="dynamic">Hi this adds a button dynamically Do not worry</p>
    <p id="login">login/submit</p>
    <form method="post" action="/submit-form" id="form-fill-up">
        <label>Name</label><input placeholder="Nam Kya hai tera" id="name"><br>
        <label>Mail id</label><input placeholder="mail bata" id="mail"><br>
        <label>Password</label><input placeholder="Password bol jadi" id="password"><br>
        <button type="submit" id="sub">Submit kar</button>
        <p id="signup">already have an account then signup</p>
    </form>
    <form method="post" action="/check-existence" id="login-credential">
        <label>Mail id</label><input placeholder="mail bata" id="mail-signup"><br>
        <label>Password</label><input placeholder="Password bol jadi" id="password-signup"><br>
        <button type="submit" id="sub2">Submit kar</button>
    </form>
</body>
</html>